body{
    background-image: url("https://i.pinimg.com/originals/59/03/60/590360c0e4f42455bbd4d35d50a9e6b4.jpg");
}
h1 {
    color: aliceblue;
}
.table {
    position: fixed;
    margin: 0 auto;
    height:600px;
    width:400px;
    border-color: black;
    border: 9em;
    background-color:gray;
    opacity:.7;
}
.ball{
    position: absolute;
}
.cup {
    border: 5px solid darkred;
    height:60px;
    width:60px;
    background-image: url("https://thumbs.dreamstime.com/t/background-beer-foam-bubbles-close-up-background-beer-foam-bubbles-111550412.jpg");
    background-color: #f28E1c;
    border-radius: 50%;
}

.ball {
    height:30px;
    width:30px;
    background-color: white;
    border-radius: 50%;
}

.their_ball {
    height:30px;
    width:30px;
    background-color: white;
    border-radius: 50%;
    bottom: 10px;
    left:350px;
    position: absolute;

}
.ben {
    height: 40px fit-content;
    width: 120px fit-content;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    text-decoration: darkred;
    font-family: fantasy;
    font: 30px bold;
    margin-top: 20px;
    margin-right: 400px;

}

.heat {
    height: 40px fit-content;
    width: 120px fit-content;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    text-decoration: darkred;
    font-family: fantasy;
    font: 30px bold;
    margin-top: 20px;
    margin-right: 400px;
}
.their_heat {
    height: 40px fit-content;
    width: 120px fit-content;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    text-decoration: darkred;
    font-family: fantasy;
    font: 30px bold;
    margin-top: 20px;
    margin-right: 400px;
}

.fire {
    height: 40px fit-content;
    width: 120px fit-content;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    text-decoration: darkred;
    font-family: fantasy;
    font: 30px bold;
    margin-top: 20px;
    margin-right: 400px;
}
.their_fire {
    height: 40px fit-content;
    width: 120px fit-content;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    text-decoration: darkred;
    font-family: fantasy;
    font: 30px bold;
    margin-top: 20px;
    margin-right: 400px;
}

.their_ben {
    height: 40px fit-content;
    width: 120px fit-content;
    border: 2px solid darkgreen;
    background-color: lightgreen;
    text-decoration: darkred;
    font-family: fantasy;
    font: 30px bold;
    margin-top: 20px;
    margin-right: 400px;
}


.bens {

    margin-left: 430px;
    height: 100%;
}

.their_cup {
    border: 5px solid darkred;
    height:60px;
    width:60px;
    background-image: url("https://thumbs.dreamstime.com/t/background-beer-foam-bubbles-close-up-background-beer-foam-bubbles-111550412.jpg");
    background-color: #f28E1c;
    border-radius: 50%;
}
#cup9 {
    position: absolute;
    top: 410px;
    left: 200px;
}
#cup8 {
    position: absolute;
    top: 410px;
    left: 140px;
}

#cup7 {
    position: absolute;
    top: 470px;
    left: 230px;
}
#cup6 {
    position: absolute;
    top: 470px;
    left: 170px;
}

#cup5 {
    position: absolute;
    top: 470px;
    left: 110px;
}
#cup4 {
    position: absolute;
    top: 530px;
    left: 260px;
}

#cup3 {
    position: absolute;
    top: 530px;
    left: 200px;
}


#cup2 {
    position: absolute;
    top: 530px;
    left: 140px;
}


#cup1 {
    position: absolute;
    top: 530px;
    left: 80px;
}


#cup0 {
    position: absolute;
    top: 350px;
    left: 170px;
}


#cup29 {
    position: absolute;
    bottom: 520px;
    left: 80px;
}
#cup28 {
    position: absolute;
    bottom: 520px;
    left: 140px;
}
#cup27 {
    position: absolute;
    bottom: 520px;
    left: 200px;
}
#cup26 {
    position: absolute;
    bottom: 520px;
    left: 260px;
}
#cup25 {
    position: absolute;
    bottom: 460px;
    left: 110px;
}
#cup24 {
    position: absolute;
    bottom: 460px;
    left: 170px;
}
#cup23 {
    position: absolute;
    bottom: 460px;
    left: 230px;
}
#cup22 {
    position: absolute;
    bottom: 400px;
    left: 140px;
}
#cup21 {
    position: absolute;
    bottom: 400px;
    left: 200px;
}
#cup20 {
    position: absolute;
    bottom: 340px;
    left: 170px;
}





.cup:hover{
    background-color: blueviolet;
}